@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Head Start -->
@await Component.InvokeAsync("_BookingHeadPartial")
<!-- Head End -->

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_BookingSpinnerPartial")
        <!-- Spinner End -->
        <!-- Header Start -->
        @await Component.InvokeAsync("_BookingHeaderPartial")
        <!-- Header End -->
        <!-- Page Header Start -->
        @await Component.InvokeAsync("_BookingPageHeaderPartial")
        <!-- Page Header End -->
        <!-- BookingNav Start -->
        @await Component.InvokeAsync("_BookingFindPartial")
        <!-- BookingNav End -->
        <!-- BookingMain Start -->
        @await Html.PartialAsync("/Views/Booking/_BookingAddPartial.cshtml")
        <!-- BookingMain End -->
        <!-- Subscribe Start -->
        @await Html.PartialAsync("/Views/Booking/_BookingSubscribePartial.cshtml")
        <!-- Subscribe End -->
        <!-- Footer Start -->
        @await Component.InvokeAsync("_BookingFooterPartial")
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- Script Start -->
    @await Component.InvokeAsync("_BookingScriptPartial")
    <!-- Script End -->
</body>

</html>