@model IEnumerable<BookingComHotelListVM.Result>

<br />
<div class="text-center text-capitalize" style="font-family:'Comic Sans MS'">
    <h2 style="color:skyblue;">Hotels</h2>
    <br />
    <table class="table table-striped table-light table-bordered table-hover" style="box-sizing:border-box; border:solid 5px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Score</th>
                <th>Processes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotels in Model)
            {
                <tr>
                    <th>@hotels.id</th>
                    <td>@hotels.name</td>
                    <td>@hotels.reviewScore</td>
                    <td><a href="~/BookingComHotel/Detail/@hotels.id" class="btn btn-rounded btn-outline-success col-6">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>