<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" id="contact" style="font-family:'Comic Sans MS'">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-4 col-lg-1"></div>
            <div class="col-md-5 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Asus Street, Lenovo Apt. Msi / Philips</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+00 000 000 00 00</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>hotelier@rapidapi.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row gy-5 g-4">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                        <a class="btn btn-link" href="#about">About Us</a>
                        <a class="btn btn-link" href="#contact">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Support</a>
                    </div>
                    <div class="col-md-5">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                        <a class="btn btn-link" href="#services">Food & Restaurant</a>
                        <a class="btn btn-link" href="#services">Spa & Fitness</a>
                        <a class="btn btn-link" href="#services">Sports & Gaming</a>
                        <a class="btn btn-link" href="#services">Event & Party</a>
                        <a class="btn btn-link" href="#services">GYM & Yoga</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Hotelier Rapid Api</a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
                <div class="col-md-6 text-center text-md-end text-capitalize">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>