@model RoomAddVM

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@* <link rel="stylesheet" href="~/css/demo.css">
<link rel="stylesheet" href="~/css/intlTelInput.css"> *@
@* <link href="~/css/nucleo-icons.css" rel="stylesheet" />
<link href="~/css/nucleo-svg.css" rel="stylesheet" /> *@

<div class="row">

    <div class="col-md-8">

        <h6 class="mb-3" style="font-family:'Comic Sans MS'; font-size:20px; font-weight:bold; color:indigo;">Room Add</h6><span class="text-danger" style="text-transform:lowercase; font-family:'Comic Sans MS'">(* required field)</span>

    </div>

</div>
<hr />

<form asp-action="Add" method="post" class="container-fluid py-4" enctype="multipart/form-data" style="font-family:'Comic Sans MS'; text-transform:capitalize; text-align:center">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-12">
            <label asp-for="CoverImage" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Image <span class="text-danger">*</span></label>
            <input asp-for="CoverImage" class="btn btn-outline-secondary btn-block" type="file" accept=".jpg,.png,.jpeg" placeholder="Enter room image" required />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="No" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">No <span class="text-danger">*</span></label>
            <input asp-for="No" class="btn btn-outline-secondary btn-block" style="cursor:text" placeholder="Enter room no" required />
        </div>
        <div class="col-3">
            <label asp-for="Title" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Title <span class="text-danger">*</span></label>
            <input asp-for="Title" class="btn btn-outline-secondary btn-block" style="cursor:text" placeholder="Enter room title" required />
        </div>
        <div class="col-3">
            <label asp-for="Type" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Room Type <span class="text-danger">*</span></label>
            <select asp-items="Html.GetEnumSelectList<RoomType>()" asp-for="Type" class="btn btn-outline-secondary btn-block" style="cursor:text" placeholder="Enter room type" required></select>
        </div>
        <div class="col-3">
            <label asp-for="Price" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Price <span class="text-danger">*</span></label>
            <input asp-for="Price" class="btn btn-outline-secondary btn-block" style="cursor:text" type="number" min="0" placeholder="Enter room price" required />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label asp-for="Description" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Description <span class="text-danger">*</span></label>
            <input asp-for="Description" class="btn btn-outline-secondary btn-block" style="cursor:text" placeholder="Enter room description" required />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <input type="submit" value="Service Add" class="btn btn-outline-success btn-block" />
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-outline-warning btn-block" title:"Go to Services">Cancel</a>
        </div>
    </div>
</form>

<script src="~/js/intlTelInput.js"></script>

<script>
    var input = document.querySelector("#phone");
    window.intlTelInput(input, {});
</script>

@* <div class="col-lg-6">
    <label asp-for="PhoneNumber" class="control-label" style="text-align:start; font-size:16px">Phone Number <span class="text-danger">*</span></label>
    <br />
    <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="+90 (500) - 000 - 00 00" id="phone" style="width:413px;" />
</div> *@